@import './node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

$darkblue1: #0D1C26;
$darkblue2: #1F3140;
$midblue: #617C8C;
$lightblue1: #5E88BF;
$lightblue2: #6B98BF;

body {
    background-color: $darkblue1;
    color: white;
}

.profilepic {
    justify-content: center;
}

.main-element {
    background: url("../images/stone.png"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%; 
    width: 100%;
    text-align: center; 
    padding: 15em;
}

.nav-link{
    color: $midblue;
    &:hover {
        color: $lightblue2;
    }
    &:active:focus{
        color: $lightblue2;
    }
}

.active {
    background-color: $lightblue2 !important;  
}

.bio {
    padding: 10em;
}

.body-pacman {
    background-color: $darkblue2;
}

.body-eye {
    margin: 0;
    padding: 0;
    background: $midblue;
  }
  
  .eyes {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
  }
  .eye {
    width: 240px;
    height: 120px;
    background: #fff;
    display: inline-block;
    margin: 40px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
  }
  .ball {
    width: 80px;
    height: 80px;
    background: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }
  
  .body-grid {
    background-color: rgb(11, 3, 24);
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto;
    gap: 5px;
    overflow: scroll;
    padding: 2em;
    /* background-image: url('2Bap.gif'); */ 
}

.rightbanner{
    grid-column: 3 / 4;

}
.centerelm{
    grid-column: 2 /3 ;
    grid-row: 2 / 20;
}

h1 {
    color: gold;
    grid-column: 2 /3 ;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}
#grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 5px;
    /* border: solid 1px gray; */
    
    
}
.box {
    border: solid 1px black;
    padding: 5px;
    text-align: center;
    /* background-color: rgb(232, 96, 17); */

}
.resetbutton{
    height: 50px;
    /* background-color: rgb(150, 29, 112); */
    border: 2px solid rgb(3, 32, 198);
    text-align: center;
    text-transform: bold;
    margin-top: 105px;
    grid-column: 1 / 2;
    grid-row: 2 / 5;
}
.gridButton {
    height: 50px;
    /* background-color: rgb(165, 63, 229); */
    border: 2px solid rgb(3, 32, 198);
    text-align: center;
    text-transform: bold;
    margin-top: 55px;
    grid-column: 1 / 2;
    grid-row: 2 / 5;
}
.randomButton {
    height: 50px;
    /* background-color: rgb(186, 27, 222); */
    border: 2px solid rgb(3, 32, 198);
    text-align: center;
    text-transform: bold;
    margin-top: 155px;
    grid-column: 1 / 2;
    grid-row: 2 / 5;
}
.sequenceButton {
    height: 50px;
    /* background-color: rgb(186, 27, 222); */
    border: 2px solid rgb(3, 32, 198);
    text-align: center;
    text-transform: bold;
    margin-top: 205px;
    grid-column: 1 / 2;
    grid-row: 2 / 5;
}
.stopButton {
    height: 50px;
    /* background-color: rgb(186, 27, 222); */
    border: 2px solid rgb(3, 32, 198);
    text-align: center;
    text-transform: bold;
    margin-top: 255px;
    grid-column: 1 / 2;
    grid-row: 2 / 5;
}
.grid-button {
    background-color: rgb(218, 245, 245);
    cursor: pointer;
    border-radius: 4px;
}
.grid-button:hover {
    background-color: slateblue;
}
.grid-button:active{
    background-color: lightblue;
}
#gridsize{
    height: 20px;
    width: 95%;
    margin-left: 2px;
    margin-top: 25px;
    margin-bottom: 10px;
    grid-column: 1 / 2;
    grid-row: 2 / 5;
}
#info {
    color: azure;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-bottom: 2px;
}
.grid-footer {
    grid-column: 1/5;
    display:inline-block;
    color: gold;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
}
.grid-header {
    grid-column: 1/5;
    display:inline-block;
    color: gold;
    text-align: center;
}

.body-map {
    margin: 0;
    padding: 0;
  }

  #map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  
  .map-overlay {
    position: absolute;
    left: 0;
    padding: 10px;
  }

  .projects {
    margin-top: 5em;
    display: grid;
    grid-template-columns: 1fr 1000px 1fr;
    gap: 10px;
  }

 .project-frame {
    margin-bottom: 5em;
    grid-column: 2/3;
    width: 1000px;
    height: 500px;
  }

  .project-header {
    grid-column: 2/3;
  }

  .contact {
    background: url("../images/rock.png"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%; 
    width: 100%;
    text-align: center; 
    padding: 15em;
  }

  .contact a {
    text-decoration: none;
    color: $lightblue2;
  }